#footer {
  margin-top: 3rem;
  background: #8a5fd2;
  padding: 1.5rem 0;
}
.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer_socials span {
  font-size: 1rem;
  font-weight: normal;
}

@media screen and (min-width: 992px) {
  #footer {
    margin-top: 5rem;
  }
  .footer_socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
