#testimonials {
  h2 {
    font-size: 2rem;
    font-weight: 500;
  }
  i {
    font-size: 2rem;
  }
  .column_wrapper {
    margin-bottom: 3rem;
  }
  .testimonials_wrapper {
    display: grid;
    .container {
      grid-area: 1/1;
      position: relative;
      display: grid;
      place-items: ceneter;
    }
    .single_text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .icon_wrapper {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 768px) {
  #testimonials {
    h2,
    p.lead {
      text-align: center;
    }
    .testimonials_wrapper {
      .single_text {
        font-size: 2rem;
        font-weight: 500;
      }
    }
    .column_wrapper {
      margin-bottom: 5rem;
    }
  }
}
